.vscode
leapYear.dSYM
area_circumference_of_a_circle
area_of_equilateral
area_parameter_of_a_rectangle
checkLowerCase
distance_between_two_coordinate
fahrenheit_to_celcius
inch_to_centemeter
leapYear
swap_two_numbers
task1